body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:190px;
  width:980px;
  height:850px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:160px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:160px;
}
#u4 {
  position:absolute;
  left:2px;
  top:72px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:25px;
  width:1366px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1349px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1366px;
  height:1px;
}
#u8 {
  position:absolute;
  left:100px;
  top:6px;
  width:277px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:394px;
  top:6px;
  width:41px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1176px;
  top:6px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1247px;
  top:6px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1230px;
  top:9px;
  width:10px;
  height:13px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u17 {
  position:absolute;
  left:100px;
  top:38px;
  width:120px;
  height:75px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:75px;
}
#u18 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:230px;
  top:47px;
  width:217px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:31px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:233px;
  top:81px;
  width:133px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:120px;
  width:1366px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:100px;
  top:120px;
  width:100px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:223px;
  top:129px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:117px;
  top:129px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:101px;
  top:190px;
  width:198px;
  height:860px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:860px;
}
#u33 {
  position:absolute;
  left:2px;
  top:422px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:100px;
  top:190px;
  width:200px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:164px;
  top:198px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:156px;
  top:251px;
  width:88px;
  height:86px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
}
#u39 {
  position:absolute;
  left:2px;
  top:35px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:156px;
  top:342px;
  width:88px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:159px;
  top:379px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:102px;
  top:419px;
  width:196px;
  height:44px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
}
#u45 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:166px;
  top:431px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:155px;
  top:472px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:155px;
  top:503px;
  width:79px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:101px;
  top:490px;
  width:196px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u53 {
  position:absolute;
  left:155px;
  top:540px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:155px;
  top:573px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:101px;
  top:525px;
  width:196px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u58 {
  position:absolute;
  left:101px;
  top:560px;
  width:196px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u59 {
  position:absolute;
  left:101px;
  top:595px;
  width:196px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u60 {
  position:absolute;
  left:102px;
  top:600px;
  width:196px;
  height:44px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
}
#u61 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:166px;
  top:612px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:155px;
  top:654px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:155px;
  top:685px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u66_img.mouseOver {
}
#u66.mouseOver {
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:101px;
  top:672px;
  width:196px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u69 {
  position:absolute;
  left:155px;
  top:722px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u69_img.mouseOver {
}
#u69.mouseOver {
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:101px;
  top:707px;
  width:196px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u72 {
  position:absolute;
  left:101px;
  top:742px;
  width:196px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u73 {
  position:absolute;
  left:102px;
  top:747px;
  width:196px;
  height:44px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:166px;
  top:759px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:155px;
  top:801px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:155px;
  top:832px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:101px;
  top:819px;
  width:196px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u82 {
  position:absolute;
  left:155px;
  top:869px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:155px;
  top:904px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:101px;
  top:855px;
  width:196px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u87 {
  position:absolute;
  left:101px;
  top:890px;
  width:196px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u88 {
  position:absolute;
  left:101px;
  top:926px;
  width:196px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u89 {
  position:absolute;
  left:155px;
  top:940px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:101px;
  top:965px;
  width:196px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u92 {
  position:absolute;
  left:155px;
  top:980px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u92_img.mouseOver {
}
#u92.mouseOver {
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:101px;
  top:1004px;
  width:196px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u95 {
  position:absolute;
  left:155px;
  top:1020px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:320px;
  top:190px;
  width:980px;
  height:38px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:38px;
}
#u98 {
  position:absolute;
  left:2px;
  top:11px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:343px;
  top:199px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:1035px;
  top:200px;
  width:251px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:346px;
  top:711px;
  width:925px;
  height:283px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:283px;
}
#u104 {
  position:absolute;
  left:2px;
  top:134px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:346px;
  top:711px;
  width:925px;
  height:38px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:38px;
}
#u106 {
  position:absolute;
  left:2px;
  top:11px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:466px;
  top:720px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:724px;
  top:720px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:940px;
  top:720px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:1152px;
  top:720px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:630px;
  top:711px;
  width:10px;
  height:283px;
}
#u115_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u115_end {
  position:absolute;
  left:-5px;
  top:266px;
  width:20px;
  height:18px;
}
#u115_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:283px;
}
#u116 {
  position:absolute;
  left:860px;
  top:711px;
  width:10px;
  height:283px;
}
#u116_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u116_end {
  position:absolute;
  left:-5px;
  top:266px;
  width:20px;
  height:18px;
}
#u116_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:283px;
}
#u117 {
  position:absolute;
  left:1062px;
  top:711px;
  width:10px;
  height:283px;
}
#u117_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u117_end {
  position:absolute;
  left:-5px;
  top:266px;
  width:20px;
  height:18px;
}
#u117_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:283px;
}
#u118 {
  position:absolute;
  left:429px;
  top:765px;
  width:121px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:346px;
  top:792px;
  width:925px;
  height:10px;
}
#u120_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u121 {
  position:absolute;
  left:346px;
  top:841px;
  width:925px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u122 {
  position:absolute;
  left:346px;
  top:890px;
  width:925px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u123 {
  position:absolute;
  left:346px;
  top:939px;
  width:925px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u124 {
  position:absolute;
  left:700px;
  top:765px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:700px;
  top:812px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:700px;
  top:861px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:700px;
  top:910px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:700px;
  top:959px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:429px;
  top:311px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:346px;
  top:670px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:343px;
  top:359px;
  width:130px;
  height:36px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:center;
}
#u138_input {
  font-family:'微软雅黑';
}
#u139 {
  position:absolute;
  left:343px;
  top:556px;
  width:130px;
  height:36px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:center;
}
#u139_input {
  font-family:'微软雅黑';
}
#u140 {
  position:absolute;
  left:429px;
  top:812px;
  width:121px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:926px;
  top:812px;
  width:54px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:926px;
  top:910px;
  width:54px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:1140px;
  top:959px;
  width:54px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:942px;
  top:861px;
  width:19px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:942px;
  top:959px;
  width:19px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:1140px;
  top:765px;
  width:54px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1158px;
  top:812px;
  width:19px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:1158px;
  top:910px;
  width:19px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:1140px;
  top:861px;
  width:54px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:429px;
  top:861px;
  width:121px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:429px;
  top:910px;
  width:121px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:429px;
  top:959px;
  width:121px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:343px;
  top:275px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:343px;
  top:313px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:640px;
  top:316px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:right;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:960px;
  top:315px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:right;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:713px;
  top:313px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:1034px;
  top:314px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF6600;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:343px;
  top:479px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:343px;
  top:515px;
  width:171px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:640px;
  top:515px;
  width:169px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:960px;
  top:515px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:320px;
  top:430px;
  width:980px;
  height:10px;
}
#u186_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u186_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u186_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u187 {
  position:absolute;
  left:320px;
  top:625px;
  width:980px;
  height:10px;
}
#u187_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u187_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u187_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u188 {
  position:absolute;
  left:931px;
  top:671px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:980px;
  top:670px;
  width:90px;
  height:25px;
}
#u190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
}
#u190_input {
  font-family:'微软雅黑';
}
#u191 {
  position:absolute;
  left:1090px;
  top:670px;
  width:90px;
  height:25px;
}
#u191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
}
#u191_input {
  font-family:'微软雅黑';
}
#u192 {
  position:absolute;
  left:1075px;
  top:677px;
  width:10px;
  height:10px;
}
#u192_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u192_end {
  position:absolute;
  left:-7px;
  top:-5px;
  width:18px;
  height:20px;
}
#u192_line {
  position:absolute;
  left:0px;
  top:5px;
  width:10px;
  height:1px;
}
#u193 {
  position:absolute;
  left:1190px;
  top:669px;
  width:80px;
  height:25px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u193_input {
  font-family:'微软雅黑';
}
#u195 {
  position:absolute;
  left:0px;
  top:1080px;
  width:1366px;
  height:38px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:38px;
}
#u196 {
  position:absolute;
  left:2px;
  top:11px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:459px;
  top:1090px;
  width:413px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:17px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  white-space:nowrap;
}
