@charset "utf-8";
/*内容*/
.doc-content{
	width: 1040px;
}
.doc-content .doc-title{
	padding-top: 15px;
	width: 1040px;
}
.doc-content .doc-title h1{
	width: 50%;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	font-weight: normal;
	text-indent: 15px;
	color: #3c3c3c;
}
.doc-content .doc-title p{
	width: 50%;
	height: 40px;
	padding-top: 20px;
	line-height: 40px;
	text-align: right;
}
.doc-content .doc-list-list{
	list-style: none;
}
.doc-content .doc-list-list li{
	position: relative;
	width: 498px;
	height: 328px;
	margin: 0 10px 20px;
	margin-top: 0;
	background: #fff;
	border: solid 1px #efeeee;
}
.doc-content .doc-list-list li .doctor-info{
	height: 155px;
	background-color: #daf9e4;
	overflow: hidden;
}
.doc-content .doc-list-list li:hover .doctor-info{
	background-color: #fee3ad;
}
.doc-content .doc-list-list li .doctor-info img.doctor-img{
	width: 110px;
	height: 110px;
	margin: 20px;
	margin-right: 0;
	border: solid 3px #28be68;
	border-radius: 55px;
	overflow: hidden;
}
.doc-content .doc-list-list li .doctor-info .status{
	position: absolute;
	left: 90px;
	top: 100px;
	z-index: 1;
}
.doc-content .doc-list-list li .doctor-info  .doctor-info-text{
	position: relative;
	width: 350px;
}
.doc-content .doc-list-list li .doctor-info .doctor-info-text h3{
	padding-top: 10px;
	font-size: 18px;
	font-weight: normal;
	color: #03942d;
	transition: .2s color;
}
.doc-content .doc-list-list li:hover .doctor-info .doctor-info-text h3{
	color: #df9300;
	transition: .2s color;
}
.doc-content .doc-list-list li .doctor-info .doctor-info-text p{
	color: #666;
	font-size: 16px;
}
.doc-content .doc-list-list li .doctor-info .doctor-info-text .ask-btn{
	position: absolute;
	right: 20px;
	top: 70px;
	width: 62px;
	height: 62px;
	line-height: 86px;
	text-align: center;
	border-radius: 31px;
	overflow: hidden;
	color: #fff;
	background: #85c795 url(../images/msg_icon.png) center 14px no-repeat;
}
.doc-content .doc-list-list li:hover .doctor-info .doctor-info-text .ask-btn{
	background-color: #fda700 ;
}
.doc-content .doc-list-list li:hover .doctor-mation{
	height: 170px;
	overflow: hidden;
}
.doc-content .doc-list-list li .doctor-mation p{
	padding: 15px 20px;
	line-height: 25px;
	font-size: 14px;
}
.doc-content .doc-list-list li .doctor-mation p span{
	font-size: 18px;
	color: #f76d08;
}
/*侧边栏*/
.doc-list .doc-slider{
	position: relative;
	background: #fff;
	width: 140px;
	border: solid 1px #e8e8e8;
	border-top: 0;
	z-index: 2;
}
.doc-list .doc-slider .slider-title{
	position: absolute;
	top: -60px;
	left: -1px;
	width: 140px;
	height: 59px;
	line-height: 59px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border: solid 1px #e8e8e8;
	background: #fda700;
}
.doc-list .doc-slider .slider-list{
	list-style: none;
}
.doc-list .doc-slider .slider-list>li{
	height: 73px;
	border-top: solid 1px #e8e8e8;
	
}
.doc-list .doc-slider .slider-list>li:first-child{
	border-top: 0 none;
}
.doc-list .doc-slider .slider-list>li.on{
	background: #daf9e4;
}
.doc-list .doc-slider .slider-list>li .title{
	display: block;
	padding-top: 12px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fda700;
	text-indent: 10px;
}
.doc-list .doc-slider .slider-list>li .slider-link{
	height: 25px;
	overflow: hidden;
}
.doc-list .doc-slider .slider-list>li .slider-link a{
	display: inline-block;
	margin-left: 10px;
}
.doc-list .doc-slider .slider-content{
	display: none;
	position: absolute;
	left: 140px;
	top: -1px;
	width: 400px;
	padding: 15px;
	padding-right: 0;
	list-style: none;
	border: solid 1px #e8e8e8;
	background: #fff;
}
.doc-list .doc-slider .slider-content ul{
	width: 100%;
	height: 100%;
}
.doc-list .doc-slider .slider-content .slider-content-block{
	height: 100%;
	overflow: hidden;
}
.doc-list .doc-slider .slider-content .slider-content-block dl{
	font-size: 14px;
	margin: 0;
	margin-right: 15px;
	padding-bottom: 5px;
	border-top: solid 1px #e8e8e8;
}
.doc-list .doc-slider .slider-content .slider-content-block dl:first-child{
	border-color: #fff;
}
.doc-list .doc-slider .slider-content .slider-content-block dl dt,
.doc-list .doc-slider .slider-content .slider-content-block dl dd{
	margin: 0;
	padding: 0;
}
.doc-list .doc-slider .slider-content .slider-content-block dl dt{
	font-weight: bold;
	line-height: 25px;
}
.doc-list .doc-slider .slider-content .slider-content-block dl dd{
	line-height: 25px;
}
.doc-list .doc-slider .slider-content .slider-content-block dl dd a{
	display: inline-block;
	height: 15px;
	line-height: 15px;
	margin-top: 5px;
	border-left: solid 1px #666;
	padding-left: 5px;
}
.doc-list .doc-slider .slider-content .slider-content-block dl dd a:first-child{
	border-color: #fff;
}

