/*背景色*/
.bg-fff{background-color: #fff!important;}

.addcart{background-color: #ffa922!important;}
.buynow{background-color: #1763b7!important;}
.coupon-color1{background-color:#166db1!important ;}
.coupon-color2{background-color:#16b19d!important ;}
.coupon-color3{background-color:#db951a!important ;}
.coupon-disable{background-color:#e0e0e0!important ;}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #ffa922;
}
.balance {
    color: #fff;
    background: #ffa922;
}
.mui-radio input[type='radio']:checked:before, .mui-checkbox input[type='checkbox']:checked:before {
    color: #ff5a54;
}
.cart-tools-bar {
    background: rgba(255,255,255,0.75)!important;
    box-shadow: 0px -1px 2px 0 #ccc;
}
.cart-tools-bar .c-fff{
    color: #323232;
}
/*文字*/
.fw-normal{font-weight: normal!important;}
.c-fff{color: #fff;}
a.c-fff{color: #fff;}
.c-333{color: #333!important;}
.c-777{color: #777!important;}
.c-999{color: #999!important;}
.c-b0b0b0{color: #b0b0b0!important;}
.c-ff5b53{color: #ff6116;}
.c-fd433a{color: #fd433a!important;}
.c-1cbd1c{color: #1cbd1c!important;}
.c-425ebc{color: #425ebc!important;}
.c-fca72f{color: #fca72f!important;}
.c-3b97f1{color: #3b97f1!important;}
.c-9c4b0f{color: #9c4b0f!important;}

/*字号*/
/*.fs-8{font-size: 0.47058rem!important;}*/
/*.fs-10{font-size: 0.58823rem!important;}*/
/*.fs-11{font-size: 0.64705rem!important;}*/
/*.fs-12{font-size: 0.70588rem!important;}*/
/*.fs-13{font-size: 0.76470rem!important;}*/
/*.fs-14{font-size: 0.82352rem!important;}*/
/*.fs-15{font-size: 0.88235rem!important;}*/
/*.fs-16{font-size: 0.94117rem!important;}*/
/*.fs-17{font-size: 1rem!important;}*/
/*.fs-18{font-size: 1.05882rem!important;}*/
/*.fs-20{font-size: 1.17647rem!important;}*/
/*.fs-23{font-size: 1.35294rem!important;}*/
/*.fs-32{font-size: 1.88235rem!important;}*/
/*.fs-50{font-size: 2.94117rem!important;}*/
.fs-8{font-size: 0.5rem!important;}
.fs-10{font-size: 0.625rem!important;}
.fs-11{font-size: 0.6875rem!important;}
.fs-12{font-size: 0.75rem!important;}
.fs-13{font-size: 0.8125rem!important;}
.fs-14{font-size: 0.875rem!important;}
.fs-15{font-size: 0.9375rem!important;}
.fs-16{font-size: 1rem!important;}
.fs-17{font-size: 1.0625rem!important;}
.fs-18{font-size: 1.125rem!important;}
.fs-20{font-size: 1.25rem!important;}
.fs-23{font-size: 1.4375rem!important;}
.fs-32{font-size: 2rem!important;}
.fs-50{font-size: 3.125rem!important;}

#header input[type=search] {
    font-size: 0.82352rem;
}
.index .servers .mui-slider-item ul li a {
    font-size: 0.76470rem;
}
.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label{
    font-size: 12px;
}
.sort-list .sort-left ul li a {
    font-size: 0.88235rem;

}
.sort-list .sort-right ul li h3 {
    font-size: 0.8125rem;
}
input.user-ipt {
    font-size: 0.875rem;
}
.user-center ul.order-tools li a {
    font-size: 0.8125rem;
}
.user-center #user-tools-list ul li a {
    font-size: 0.8125rem;
}
.miaosha-bg {
    background-color: #ff6116;
}
.miaosha-bg2 {
    background-color: #ff6116;
}

.mui-pull-right .mui-badge {
    background: #fc413a;
}
.goods-view .goods-sort .goods-sort-content dl dd span.on {
    background: #f55d1a;
}
.goods-view .collcet.on{
    color:#ffa922!important;
}
.goods-view .collcet.on i{
    color:#ffa922;
}
#goods-img .mui-indicator.mui-active {
    background: #ffa618;
}
.cart-tools-bar .c-fff#sum-goods-cart{
    color: #f96115;
}
.user-center #header {
    background-color: #1570c1;
}
.user-center .user-info {
    background: #1570c1;
}
.bg-none{
    background: none;
}
.sort-list .sort-left ul li.on a{
    color: #ffa922;
}
.user-reg-log #header {
    background: #1570c1;
}
.user-reg-log .user-top {
    background-color: #1570c1;
}
.user-sub {
    width: 100%;
    color: #fff;
    background: #1570c1!important;
    border-color: #1570c1!important;
}
.user-sub:active{
    background: #4a80c7!important;
    border-color: #4a80c7!important;
}


/*下载*/
body.down{
    height: 100%;
    box-shadow: none;
    background-color: #383737;
}
body.down .down-btns{
    position: absolute;
    top: 70%;
    width: 100%;
}
body.down a{display: block;
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff!important;
    margin: 10px auto 0;
    border-radius: 20px;
}
body.down a.anzuo{
    background: #63bb24;
}
body.down a.anzuo:active{
    background: #519c28;
}
body.down a.ios{
    background: #015ebb;
}
body.down a.ios:active{
    background: #014c9c;
}
body.down ._cover {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    display: none;
}
body.down ._cover ._img {
    margin: 0 auto;
    display: none;
}
body.down ul{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 45%;
    padding: 5%;
    background: rgba(255,255,255,0.85);
    font-size: 14px;
    border-radius: 10px;
}
body.down li{
    line-height: 1.2em;
    padding-bottom: 10px;
    word-break: break-all;
}

.mod-icon-ch1{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_1.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #a671d3;
}
.mod-icon-ch2{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_2.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #f0a02d;
}
.mod-icon-ch3{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_3.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #eb6333;
}
.mod-icon-ch4{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_4.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #f2a62e;
}
.mod-icon-ch5{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_5.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #f47350;
}
.mod-icon-ch6{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_6.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #eb7400;
}
.mod-icon-ch7{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_7.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #57b69a;
}
.mod-icon-ch8{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_8.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #e9491c;
}
.mod-icon-ch9{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_9.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #ca324e;
}
.mod-icon-ch10{/*服务按钮*/
	display: block;
	background-image: url(../../images/ec/ch_10.png);
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	background-color: #49a6d6;
}