@charset "utf-8";

.content  h1.title{
	width:1127px;
	height: 50px;
	line-height: 50px;
	margin-top: 6px;
	text-indent: 299px;
}


/*评估--右侧内容*/
.content .replacement_content{
	width: 828px;
	min-height: 451px;
	background: #f8f8f8;
	padding-bottom: 38px;
}

.replacement_content h3.title{
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	margin: 9px 0;
	text-indent: 8px;
	border-left:solid 8px #e5ae18; 
}

.replacement_content table td.tit{
	width: 135px;
	line-height: 48px;
	text-align: right;
	height: 48px;
}
.replacement_content table td.ipts{
	width: 260px;
	height: 48px;
}
.replacement_content table td.imgs p.tips{
	margin-left: 14px;
	margin-top: 28px;
}
.replacement_content table td.imgs li{
	cursor: pointer;
	float: left;
	margin: 5px 0px 5px 14px ;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border: solid 1px #a9a9a9;
	background: #fff url(../images/img_rep.gif) center center no-repeat;
}
.replacement_content table td.ipts span.pos-absolute{
	top: 14px;
    right: 30px;
	
}
.replacement_content table td.position select{
	width: 194px;
	margin-right: 0;
}
