body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:450px;
  top:682px;
  width:100px;
  height:31px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1 {
  position:absolute;
  left:388px;
  top:244px;
  width:250px;
  height:28px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  position:absolute;
  left:313px;
  top:249px;
  width:50px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:277px;
  top:505px;
  width:89px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:391px;
  top:505px;
  width:251px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:251px;
  top:550px;
  width:115px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:391px;
  top:548px;
  width:251px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:250px;
  top:593px;
  width:116px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:391px;
  top:591px;
  width:251px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:289px;
  top:291px;
  width:76px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:390px;
  top:289px;
  width:251px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:299px;
  top:376px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:390px;
  top:374px;
  width:251px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:325px;
  top:420px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:390px;
  top:420px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:450px;
  top:420px;
  width:50px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:700px;
  top:548px;
  width:110px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:700px;
  top:591px;
  width:110px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:538px;
  top:332px;
  width:115px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:277px;
  top:335px;
  width:89px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:390px;
  top:332px;
  width:106px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:740px;
  top:230px;
  width:380px;
  height:90px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:992px;
  top:260px;
  width:60px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:295px;
  top:463px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:384px;
  top:460px;
  width:271px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:27px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:859px;
  width:1400px;
  height:268px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:268px;
}
#u42 {
  position:absolute;
  left:2px;
  top:126px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:871px;
  width:171px;
  height:98px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u44 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:255px;
  top:899px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:255px;
  top:931px;
  width:144px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:124px;
  top:990px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:124px;
  top:1033px;
  width:174px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:0px;
  top:859px;
  width:1400px;
  height:248px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:248px;
}
#u54 {
  position:absolute;
  left:2px;
  top:116px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:1081px;
  width:1400px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1160px;
  top:941px;
  width:112px;
  height:111px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:111px;
}
#u58 {
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1030px;
  top:941px;
  width:120px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u60 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1033px;
  top:887px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:1032px;
  top:913px;
  width:79px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:348px;
  top:1093px;
  width:552px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:118px;
  top:899px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:118px;
  top:937px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:118px;
  top:969px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:118px;
  top:998px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:424px;
  top:899px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:424px;
  top:937px;
  width:85px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:424px;
  top:969px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:424px;
  top:998px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:750px;
  top:899px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:750px;
  top:937px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:750px;
  top:969px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:750px;
  top:998px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:299px;
  top:907px;
  width:10px;
  height:119px;
}
#u91_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u91_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u91_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u92 {
  position:absolute;
  left:630px;
  top:907px;
  width:10px;
  height:119px;
}
#u92_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u92_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u92_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u93 {
  position:absolute;
  left:0px;
  top:770px;
  width:1400px;
  height:91px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:91px;
}
#u94 {
  position:absolute;
  left:2px;
  top:38px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:184px;
  top:807px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:480px;
  top:807px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:118px;
  top:795px;
  width:48px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u100 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:411px;
  top:793px;
  width:52px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u102 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:797px;
  top:807px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:1095px;
  top:807px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:738px;
  top:797px;
  width:38px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u108 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1034px;
  top:795px;
  width:49px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:10px;
  top:793px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  position:absolute;
  left:424px;
  top:938px;
  width:86px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:1010px;
  top:245px;
  width:60px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  position:absolute;
  left:100px;
  top:27px;
  width:171px;
  height:98px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u116 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1058px;
  top:58px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:-10px;
  top:0px;
  width:1400px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1215px;
  top:10px;
  width:10px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u121_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u121_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u122 {
  position:absolute;
  left:1239px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:106px;
  top:6px;
  width:222px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:669px;
  top:58px;
  width:390px;
  height:40px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u127 {
  position:absolute;
  left:0px;
  top:132px;
  width:1390px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:46px;
}
#u128 {
  position:absolute;
  left:2px;
  top:15px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:255px;
  top:54px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:255px;
  top:86px;
  width:144px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:369px;
  top:147px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:502px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:666px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:829px;
  top:145px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:100px;
  top:122px;
  width:234px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
}
#u142 {
  position:absolute;
  left:2px;
  top:20px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:120px;
  top:147px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:1129px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u145_img.mouseOver {
}
#u145.mouseOver {
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:343px;
  top:6px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#106DB2;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:393px;
  top:6px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:590px;
  top:58px;
  width:80px;
  height:40px;
}
#u151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u151_input:disabled {
  color:grayText;
}
#u152 {
  position:absolute;
  left:1194px;
  top:14px;
  width:8px;
  height:4px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u153 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:94px;
  top:175px;
  width:245px;
  height:348px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:348px;
}
#u155 {
  position:absolute;
  left:2px;
  top:166px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1050px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:1148px;
  top:58px;
  width:152px;
  height:40px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u159 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:975px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:1096px;
  top:146px;
  width:204px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:929px;
  top:29px;
  visibility:hidden;
}
#u164_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u164_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:156px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:156px;
}
#u166 {
  position:absolute;
  left:2px;
  top:70px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:10px;
  top:8px;
  width:120px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u168 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:13px;
  top:133px;
  width:118px;
  height:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:100px;
  top:31px;
  width:336px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
