body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:190px;
  width:980px;
  height:580px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:580px;
}
#u1 {
  position:absolute;
  left:2px;
  top:282px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:346px;
  top:367px;
  width:925px;
  height:283px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:283px;
}
#u3 {
  position:absolute;
  left:2px;
  top:134px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:160px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:160px;
}
#u6 {
  position:absolute;
  left:2px;
  top:72px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:25px;
  width:1366px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1349px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1366px;
  height:1px;
}
#u10 {
  position:absolute;
  left:100px;
  top:6px;
  width:277px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:394px;
  top:6px;
  width:41px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1176px;
  top:6px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1247px;
  top:6px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1230px;
  top:9px;
  width:10px;
  height:13px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u19 {
  position:absolute;
  left:100px;
  top:38px;
  width:120px;
  height:75px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:75px;
}
#u20 {
  position:absolute;
  left:2px;
  top:30px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:230px;
  top:47px;
  width:217px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:31px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:233px;
  top:81px;
  width:133px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:120px;
  width:1366px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:120px;
  width:100px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:223px;
  top:129px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:117px;
  top:129px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:101px;
  top:190px;
  width:198px;
  height:860px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:860px;
}
#u35 {
  position:absolute;
  left:2px;
  top:422px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:100px;
  top:190px;
  width:200px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:164px;
  top:198px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:156px;
  top:251px;
  width:88px;
  height:86px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:86px;
}
#u41 {
  position:absolute;
  left:2px;
  top:35px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:156px;
  top:342px;
  width:88px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:159px;
  top:379px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:102px;
  top:419px;
  width:196px;
  height:44px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:166px;
  top:431px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:155px;
  top:472px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:155px;
  top:503px;
  width:79px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u52_img.mouseOver {
}
#u52.mouseOver {
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:101px;
  top:490px;
  width:196px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u55 {
  position:absolute;
  left:155px;
  top:540px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:155px;
  top:573px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:101px;
  top:525px;
  width:196px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u60 {
  position:absolute;
  left:101px;
  top:560px;
  width:196px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u61 {
  position:absolute;
  left:101px;
  top:595px;
  width:196px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u62 {
  position:absolute;
  left:102px;
  top:600px;
  width:196px;
  height:44px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
}
#u63 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:166px;
  top:612px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:155px;
  top:654px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u66_img.mouseOver {
}
#u66.mouseOver {
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:155px;
  top:685px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:101px;
  top:672px;
  width:196px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u71 {
  position:absolute;
  left:155px;
  top:722px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:101px;
  top:707px;
  width:196px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u74 {
  position:absolute;
  left:101px;
  top:742px;
  width:196px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u75 {
  position:absolute;
  left:102px;
  top:747px;
  width:196px;
  height:44px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
}
#u76 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:166px;
  top:759px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:155px;
  top:801px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:155px;
  top:832px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:101px;
  top:819px;
  width:196px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u84 {
  position:absolute;
  left:155px;
  top:869px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:155px;
  top:904px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u86_img.mouseOver {
}
#u86.mouseOver {
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:101px;
  top:855px;
  width:196px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u89 {
  position:absolute;
  left:101px;
  top:890px;
  width:196px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u90 {
  position:absolute;
  left:101px;
  top:926px;
  width:196px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u91 {
  position:absolute;
  left:155px;
  top:940px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:101px;
  top:965px;
  width:196px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u94 {
  position:absolute;
  left:155px;
  top:980px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u94_img.mouseOver {
}
#u94.mouseOver {
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:101px;
  top:1004px;
  width:196px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u97 {
  position:absolute;
  left:155px;
  top:1020px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u97_img.mouseOver {
}
#u97.mouseOver {
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:320px;
  top:190px;
  width:980px;
  height:38px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:38px;
}
#u100 {
  position:absolute;
  left:2px;
  top:11px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:343px;
  top:199px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:320px;
  top:280px;
  width:980px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:980px;
  height:1px;
}
#u104 {
  position:absolute;
  left:480px;
  top:248px;
  width:130px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u105 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:382px;
  top:257px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u106_img.mouseOver {
}
#u106.mouseOver {
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1022px;
  top:248px;
  width:200px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u109 {
  position:absolute;
  left:1221px;
  top:248px;
  width:50px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:346px;
  top:367px;
  width:925px;
  height:38px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:38px;
}
#u112 {
  position:absolute;
  left:2px;
  top:11px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:443px;
  top:376px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:651px;
  top:376px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:808px;
  top:376px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:973px;
  top:376px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1171px;
  top:376px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:590px;
  top:367px;
  width:10px;
  height:283px;
}
#u123_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u123_end {
  position:absolute;
  left:-5px;
  top:266px;
  width:20px;
  height:18px;
}
#u123_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:283px;
}
#u124 {
  position:absolute;
  left:750px;
  top:367px;
  width:10px;
  height:283px;
}
#u124_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u124_end {
  position:absolute;
  left:-5px;
  top:266px;
  width:20px;
  height:18px;
}
#u124_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:283px;
}
#u125 {
  position:absolute;
  left:915px;
  top:367px;
  width:10px;
  height:283px;
}
#u125_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u125_end {
  position:absolute;
  left:-5px;
  top:266px;
  width:20px;
  height:18px;
}
#u125_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:283px;
}
#u126 {
  position:absolute;
  left:1089px;
  top:367px;
  width:10px;
  height:283px;
}
#u126_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u126_end {
  position:absolute;
  left:-5px;
  top:266px;
  width:20px;
  height:18px;
}
#u126_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:283px;
}
#u127 {
  position:absolute;
  left:410px;
  top:421px;
  width:109px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:346px;
  top:448px;
  width:925px;
  height:10px;
}
#u129_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u129_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u130 {
  position:absolute;
  left:346px;
  top:497px;
  width:925px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u131 {
  position:absolute;
  left:346px;
  top:546px;
  width:925px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u132 {
  position:absolute;
  left:346px;
  top:595px;
  width:925px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:908px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:925px;
  height:1px;
}
#u133 {
  position:absolute;
  left:403px;
  top:468px;
  width:129px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:390px;
  top:517px;
  width:161px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:364px;
  top:566px;
  width:206px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:19px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:403px;
  top:615px;
  width:124px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:19px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:646px;
  top:421px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:817px;
  top:421px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:963px;
  top:421px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:1177px;
  top:421px;
  width:15px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:646px;
  top:468px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:646px;
  top:517px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:646px;
  top:566px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:646px;
  top:615px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:812px;
  top:468px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:816px;
  top:517px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:804px;
  top:615px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:812px;
  top:566px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:963px;
  top:468px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:963px;
  top:517px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:963px;
  top:566px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:963px;
  top:615px;
  width:77px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:1169px;
  top:518px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:1171px;
  top:615px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:1169px;
  top:470px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:1159px;
  top:566px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:1041px;
  top:200px;
  width:239px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:0px;
  top:1072px;
  width:1366px;
  height:38px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:38px;
}
#u185 {
  position:absolute;
  left:2px;
  top:11px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:459px;
  top:1082px;
  width:413px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:17px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:356px;
  top:315px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:445px;
  top:315px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u190_img.mouseOver {
}
#u190.mouseOver {
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:520px;
  top:315px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u192_img.mouseOver {
}
#u192.mouseOver {
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:618px;
  top:315px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u194_img.mouseOver {
}
#u194.mouseOver {
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:699px;
  top:315px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u196_img.mouseOver {
}
#u196.mouseOver {
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:424px;
  top:319px;
  width:10px;
  height:13px;
}
#u198_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u198_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u198_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u199 {
  position:absolute;
  left:499px;
  top:319px;
  width:10px;
  height:13px;
}
#u199_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u199_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u199_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u200 {
  position:absolute;
  left:597px;
  top:319px;
  width:10px;
  height:13px;
}
#u200_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u200_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u200_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u201 {
  position:absolute;
  left:680px;
  top:319px;
  width:10px;
  height:13px;
}
#u201_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u201_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u201_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u202 {
  position:absolute;
  left:353px;
  top:335px;
  width:63px;
  height:10px;
}
#u202_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u202_end {
  position:absolute;
  left:46px;
  top:-5px;
  width:18px;
  height:20px;
}
#u202_line {
  position:absolute;
  left:0px;
  top:4px;
  width:63px;
  height:2px;
}
#u203 {
  position:absolute;
  left:747px;
  top:319px;
  width:10px;
  height:13px;
}
#u203_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u203_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u203_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u204 {
  position:absolute;
  left:767px;
  top:315px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u204_img.mouseOver {
}
#u204.mouseOver {
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:694px;
  top:680px;
  width:229px;
  height:50px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:50px;
}
#u207 {
  position:absolute;
  left:2px;
  top:17px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
