
@font-face {font-family: "jdb-icon";
  src: url('jdb-icon.eot?t=1460689133'); /* IE9*/
  src: url('jdb-icon.eot?t=1460689133#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('jdb-icon.woff?t=1460689133') format('woff'), /* chrome, firefox */
  url('jdb-icon.ttf?t=1460689133') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('jdb-icon.svg?t=1460689133#jdb-icon') format('svg'); /* iOS 4.1- */
}

.jdb-icon {
  font-family:"jdb-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.jdb-icon-mai:before { content: "\e600"; }
.jdb-icon-mai1:before { content: "\e601"; }
.jdb-icon-yaochioff:before { content: "\e61f"; }
.jdb-icon-cheliangweixiujiancezhan:before { content: "\e602"; }
.jdb-icon-ershou:before { content: "\e603"; }
.jdb-icon-wupindabao:before { content: "\e624"; }
.jdb-icon-v:before { content: "\e604"; }
.jdb-icon-manager:before { content: "\e622"; }
.jdb-icon-chuzu:before { content: "\e620"; }
.jdb-icon-icondpgl:before { content: "\e625"; }
.jdb-icon-guzhang:before { content: "\e616"; }
.jdb-icon-dianpu:before { content: "\e605"; }
.jdb-icon-kehujingli:before { content: "\e623"; }
.jdb-icon-cart:before { content: "\e606"; }
.jdb-icon-ershou1:before { content: "\e617"; }
.jdb-icon-bangzhu:before { content: "\e607"; }
.jdb-icon-gonggaotongzhi:before { content: "\e608"; }
.jdb-icon-shangpinqingdan2:before { content: "\e615"; }
.jdb-icon-fenleifull:before { content: "\e609"; }
.jdb-icon-wodefenxiao:before { content: "\e626"; }
.jdb-icon-iconfonterweima:before { content: "\e627"; }
.jdb-icon-shezhi:before { content: "\e60a"; }
.jdb-icon-gonglve:before { content: "\e60b"; }
.jdb-icon-wajueji01:before { content: "\e618"; }
.jdb-icon-tehui:before { content: "\e60c"; }
.jdb-icon-fuwu:before { content: "\e619"; }
.jdb-icon-xiaobaoyang:before { content: "\e613"; }
.jdb-icon-iconfontjixieshebeijizhaomingb:before { content: "\e621"; }
.jdb-icon-buy:before { content: "\e61a"; }
.jdb-icon-sell:before { content: "\e61b"; }
.jdb-icon-zu:before { content: "\e61c"; }
.jdb-icon-fabumaiche:before { content: "\e60d"; }
.jdb-icon-fabumaiche1:before { content: "\e60e"; }
.jdb-icon-fachubaojia:before { content: "\e60f"; }
.jdb-icon-fachuxunjia:before { content: "\e610"; }
.jdb-icon-shoudaobaojia:before { content: "\e611"; }
.jdb-icon-shoudaoxunjia:before { content: "\e612"; }
.jdb-icon-gouwucheyemiandexianhuo:before { content: "\e628"; }
.jdb-icon-21:before { content: "\e614"; }
.jdb-icon-caozuoyuanguanli:before { content: "\e61d"; }
.jdb-icon-shouicon:before { content: "\e61e"; }
