body {
	background: url('../img/bg.png') #000000 repeat;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 0;
	overflow: hidden;
	color: #fff;
	font-family: Consolas, monospace;
	font-weight: bold;
	text-shadow: 0em 0em 0.2em #fff;
	cursor: none;
}

#console {
	z-index: 44;
}

.footerbtns {
	position: fixed;
	bottom: 10px;
	right: 10px;
	border: 0;
}

.footerbtns a {
	border: 0;
}

.footerbtns a img {
	border: 0;
}

.footerbtns img {
	border: 0;
}

.accessGranted {
	position: fixed;
	background: url(../img/granted.gif);
	background-repeat: repeat;
	padding: 20px;
	border: 2px solid #83f352;
	text-shadow: 0.1em 0.1em 0.2em #000;
	width: 300px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -160px;
	text-align: center;
	color: #83f352;
}

.accessDenied {
	position: fixed;
	background: url(../img/denied.gif);
	background-repeat: repeat;
	padding: 20px;
	border: 2px solid #F00;
	text-shadow: 0.1em 0.1em 0.2em #000;
	width: 300px;
	height: 70px;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -160px;
	text-align: center;
	color: #F00;
}

.securityBreach {
	position: fixed;
	background: url(../img/denied.gif);
	background-repeat: repeat;
	padding: 20px;
	border: 2px solid #F00;
	text-shadow: 0.1em 0.1em 0.2em #000;
	width: 300px;
	height: 160px;
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -160px;
	text-align: center;
	color: #F00;
}

.coldwar {
	position: fixed;
	border: 2px solid #F00;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -280px;
	text-align: center;
	color: #F00;
}

.radar {
	position: fixed;
	top: 5%;
	right: 5%;
	text-align: center;
	color: #F00;
}

.radar img {
	clear: both;
	width: 250px;
}

.pony {
	position: fixed;
	right: 5%;
	bottom: 5%;
	margin-top: -64px;
	margin-left: -64px;
	z-index: 499;
}

.pony img {
	width: 128px;
}

.window {
	position: fixed;
	border: 2px solid #F00;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -320px;
	overflow: hidden;
	width: 640px;
	height: 480px;
	text-align: center;
	color: #F00;
}

.center {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	/*
background-image:url('../img/logo.png');
background-repeat:no-repeat;
background-position:center;
*/
}

.centerblocklogin {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 380px;
	margin-top: -232px;
	margin-left: -250px;
	width: 500px;
	background-color: #000;
	padding: 30px;
	box-shadow: 0px 0px 3px 0px #ccc;
}

#auth {
	background: url(../img/granted.gif);
	background-repeat: repeat;
	background-color: #000;
}

input {
	border: 5px solid grey;
	padding: 15px;
	background: rgba(20, 20, 20, 1);
	color: #fff;
	margin: 0 0 10px 0;
	width: 250px;
	text-align: center;
}

input:focus {
	border: 5px solid green;
}

.logosmall {
	width: 150px;
}

.Desc {
	bottom: 5px;
	text-align: center;
	font-size: 8px;
	color: grey;
	text-shadow: none;
	font-family: arial;
	padding: 0;
	margin: 0;
	text-align: center;
}