body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:401px;
  top:230px;
  width:250px;
  height:28px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:300px;
  top:234px;
  width:76px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:287px;
  top:276px;
  width:89px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:401px;
  top:276px;
  width:251px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:300px;
  top:323px;
  width:76px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:401px;
  top:321px;
  width:251px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:673px;
  top:556px;
  width:110px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:310px;
  top:418px;
  width:66px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:401px;
  top:416px;
  width:251px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:262px;
  top:558px;
  width:115px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:402px;
  top:556px;
  width:251px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:279px;
  top:462px;
  width:98px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:396px;
  top:459px;
  width:271px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:27px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:285px;
  top:513px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:402px;
  top:511px;
  width:251px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:550px;
  top:365px;
  width:115px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:287px;
  top:368px;
  width:89px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:402px;
  top:365px;
  width:106px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:0px;
  top:821px;
  width:1400px;
  height:268px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:268px;
}
#u30 {
  position:absolute;
  left:2px;
  top:126px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:100px;
  top:833px;
  width:171px;
  height:98px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u32 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:255px;
  top:861px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:255px;
  top:893px;
  width:144px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:124px;
  top:952px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:124px;
  top:995px;
  width:174px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:821px;
  width:1400px;
  height:248px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:248px;
}
#u42 {
  position:absolute;
  left:2px;
  top:116px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:1043px;
  width:1400px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1160px;
  top:903px;
  width:112px;
  height:111px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:111px;
}
#u46 {
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1030px;
  top:903px;
  width:120px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u48 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1033px;
  top:849px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:1032px;
  top:875px;
  width:79px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:348px;
  top:1055px;
  width:552px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:118px;
  top:861px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:118px;
  top:899px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:118px;
  top:931px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:118px;
  top:960px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:424px;
  top:861px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:424px;
  top:899px;
  width:85px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:424px;
  top:931px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:424px;
  top:960px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:750px;
  top:861px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:750px;
  top:899px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:750px;
  top:931px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:750px;
  top:960px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:299px;
  top:869px;
  width:10px;
  height:119px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u80 {
  position:absolute;
  left:630px;
  top:869px;
  width:10px;
  height:119px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u81 {
  position:absolute;
  left:0px;
  top:732px;
  width:1400px;
  height:91px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:91px;
}
#u82 {
  position:absolute;
  left:2px;
  top:38px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:184px;
  top:769px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:480px;
  top:769px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:118px;
  top:757px;
  width:48px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u88 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:411px;
  top:755px;
  width:52px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u90 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:797px;
  top:769px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:1095px;
  top:769px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:738px;
  top:759px;
  width:38px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u96 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1034px;
  top:757px;
  width:49px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:10px;
  top:755px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  position:absolute;
  left:424px;
  top:900px;
  width:86px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101 {
  position:absolute;
  left:740px;
  top:230px;
  width:380px;
  height:90px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:990px;
  top:261px;
  width:60px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:1010px;
  top:242px;
  width:60px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  position:absolute;
  left:478px;
  top:653px;
  width:100px;
  height:31px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u107 {
  position:absolute;
  left:100px;
  top:27px;
  width:171px;
  height:98px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u108 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1058px;
  top:58px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:-10px;
  top:0px;
  width:1400px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1215px;
  top:10px;
  width:10px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u113_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u113_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u114 {
  position:absolute;
  left:1239px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:106px;
  top:6px;
  width:222px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:669px;
  top:58px;
  width:390px;
  height:40px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u119 {
  position:absolute;
  left:0px;
  top:132px;
  width:1390px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:46px;
}
#u120 {
  position:absolute;
  left:2px;
  top:15px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:255px;
  top:54px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:255px;
  top:86px;
  width:144px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:369px;
  top:147px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:502px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:666px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:829px;
  top:145px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:100px;
  top:122px;
  width:234px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
}
#u134 {
  position:absolute;
  left:2px;
  top:20px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:120px;
  top:147px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:1129px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u137_img.mouseOver {
}
#u137.mouseOver {
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:343px;
  top:6px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#106DB2;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:393px;
  top:6px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:590px;
  top:58px;
  width:80px;
  height:40px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u143_input:disabled {
  color:grayText;
}
#u144 {
  position:absolute;
  left:1194px;
  top:14px;
  width:8px;
  height:4px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u145 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:94px;
  top:175px;
  width:245px;
  height:348px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:348px;
}
#u147 {
  position:absolute;
  left:2px;
  top:166px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1050px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:1148px;
  top:58px;
  width:152px;
  height:40px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u151 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:975px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:1096px;
  top:146px;
  width:204px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:929px;
  top:29px;
  visibility:hidden;
}
#u156_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u156_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:156px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:156px;
}
#u158 {
  position:absolute;
  left:2px;
  top:70px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:10px;
  top:8px;
  width:120px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u160 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:13px;
  top:133px;
  width:118px;
  height:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:100px;
  top:31px;
  width:336px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u164 {
  position:absolute;
  left:279px;
  top:600px;
  width:98px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:402px;
  top:597px;
  width:251px;
  height:25px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
