body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:230px;
  width:529px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:35px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:100px;
  top:283px;
  width:331px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:100px;
  top:314px;
  width:840px;
  height:81px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:81px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:128px;
  top:335px;
  width:792px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:405px;
  width:840px;
  height:112px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:112px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:542px;
  width:550px;
  height:367px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:367px;
}
#u11 {
  position:absolute;
  left:2px;
  top:176px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:952px;
  width:840px;
  height:728px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:728px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:188px;
  width:167px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:100px;
  top:27px;
  width:171px;
  height:98px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u18 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1058px;
  top:58px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:-10px;
  top:0px;
  width:1400px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1215px;
  top:10px;
  width:10px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:-7px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:10px;
}
#u24 {
  position:absolute;
  left:1239px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:106px;
  top:6px;
  width:222px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:669px;
  top:58px;
  width:390px;
  height:40px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u29 {
  position:absolute;
  left:0px;
  top:132px;
  width:1390px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:46px;
}
#u30 {
  position:absolute;
  left:2px;
  top:15px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:255px;
  top:54px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:255px;
  top:86px;
  width:144px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:369px;
  top:147px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:502px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:666px;
  top:147px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:829px;
  top:145px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:122px;
  width:234px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:55px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:120px;
  top:147px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1129px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:343px;
  top:6px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#106DB2;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:393px;
  top:6px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:590px;
  top:58px;
  width:80px;
  height:40px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u53_input:disabled {
  color:grayText;
}
#u54 {
  position:absolute;
  left:1194px;
  top:14px;
  width:8px;
  height:4px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:94px;
  top:175px;
  width:245px;
  height:348px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:348px;
}
#u57 {
  position:absolute;
  left:2px;
  top:166px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1050px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1148px;
  top:58px;
  width:152px;
  height:40px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:975px;
  top:7px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1096px;
  top:146px;
  width:204px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:929px;
  top:29px;
  visibility:hidden;
}
#u66_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:156px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:156px;
}
#u68 {
  position:absolute;
  left:2px;
  top:70px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:10px;
  top:8px;
  width:120px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u70 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:13px;
  top:133px;
  width:118px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:100px;
  top:31px;
  width:336px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:970px;
  top:244px;
  width:330px;
  height:314px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u75 {
  position:absolute;
  left:970px;
  top:222px;
  width:330px;
  height:350px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:350px;
}
#u76 {
  position:absolute;
  left:2px;
  top:167px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:970px;
  top:222px;
  width:330px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:990px;
  top:232px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:990px;
  top:268px;
  width:333px;
  height:280px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  line-height:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:280px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:1802px;
  width:1400px;
  height:268px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:268px;
}
#u85 {
  position:absolute;
  left:2px;
  top:126px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:100px;
  top:1814px;
  width:171px;
  height:98px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u87 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:255px;
  top:1842px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:255px;
  top:1874px;
  width:144px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:124px;
  top:1933px;
  width:185px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:124px;
  top:1976px;
  width:174px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:0px;
  top:1802px;
  width:1400px;
  height:248px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:248px;
}
#u97 {
  position:absolute;
  left:2px;
  top:116px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:2024px;
  width:1400px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:40px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1160px;
  top:1884px;
  width:112px;
  height:111px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:111px;
}
#u101 {
  position:absolute;
  left:2px;
  top:48px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1030px;
  top:1884px;
  width:120px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u103 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1033px;
  top:1830px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1032px;
  top:1856px;
  width:79px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:348px;
  top:2036px;
  width:552px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:19px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:118px;
  top:1842px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:118px;
  top:1880px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:118px;
  top:1912px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:118px;
  top:1941px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:424px;
  top:1842px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:424px;
  top:1880px;
  width:85px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:424px;
  top:1912px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:424px;
  top:1941px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:750px;
  top:1842px;
  width:65px;
  height:9px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:9px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:750px;
  top:1880px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:750px;
  top:1912px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:750px;
  top:1941px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C9C9C9;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:299px;
  top:1850px;
  width:10px;
  height:119px;
}
#u134_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u134_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u134_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u135 {
  position:absolute;
  left:630px;
  top:1850px;
  width:10px;
  height:119px;
}
#u135_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u135_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u135_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u136 {
  position:absolute;
  left:0px;
  top:1713px;
  width:1400px;
  height:91px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:91px;
}
#u137 {
  position:absolute;
  left:2px;
  top:38px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:184px;
  top:1750px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:480px;
  top:1750px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:118px;
  top:1738px;
  width:48px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u143 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:411px;
  top:1736px;
  width:52px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u145 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:797px;
  top:1750px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:1095px;
  top:1750px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:738px;
  top:1740px;
  width:38px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u151 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1034px;
  top:1738px;
  width:49px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u153 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:10px;
  top:1736px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u155 {
  position:absolute;
  left:424px;
  top:1881px;
  width:86px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
